$default: #31352B;
$accept: #FF6838;
$decoration: #c2c2c2;

%rubik-400 {
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Roboto-Medium', sans-serif;
  font-weight: 500;
}

%rubik-italic {
  font-family: 'Roboto-Italic', sans-serif;
  font-weight: 400;
}