@import 'reset';
@import 'fonts';
@import 'vars';
@import 'libs';
@import 'mixin';
@import 'logo';
@import 'global';

@import 'page-index/hero';

@import 'parts/nav';

@import 'parts/burger';

@import 'parts/burger-nav';

@import 'parts/burger-list';

@import 'parts/basket';

@import 'page-index/choice';

@import 'parts/product-card';

@import 'page-index/about';

@import 'page-index/restorans';

@import 'parts/card-rest';

@import 'parts/comments';

@import 'parts/application';

@import 'parts/footer';

@import 'parts/subscribe';

@import 'parts/address';

@import 'parts/social-contact';

@import 'parts/slick';


.breadcrumbs {
  padding: 17px 0;
  background-color: rgba(255, 122, 80, 0.1);
  margin-bottom: 60px;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    color: $breadcrumbs;

    &:not(:last-child) {
      margin-right: 17px;
    }

    &::after {
      position: absolute;
      content: '';
      width: 6px;
      height: 10px;
      top: 11px;
      right: -11px;
      background-image: url('../images/icons/icon-chevron.svg');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:last-child {
      color: $orange-900;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: inherit;
  }
}

.catalog {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
}

.filter {
  &__item {
    max-width: 270px;
    border: 1px solid $silver-200;
    border-radius: 5px;
    background-color: #fff;
    letter-spacing: 0.03em;
    @extend %rubik-400;
    line-height: 1.3;
  }

  &__title {
    padding: 15px;
    @extend %rubik-400;
    line-height: 1.2;
  }

  &__title-box {
    border-bottom: 1px solid $silver-200;
  }

  &__list-box {
    padding: 25px 15px;
  }
}

.filter-category {
margin-bottom: 30px;
  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__btn {
    color: $dark;
  }
}
