@import 'reset';
@import 'fonts';
@import 'vars';
@import 'lib';
@import 'logo';
@import 'global';

.hero {
  padding-bottom: 60px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    max-width: 450px;
  }

  &__title {
    margin-bottom: 20px;
    @extend %rubik-500;
    color: $orange-900;
    font-size: 66px;
    line-height: 1.3;
    text-transform: uppercase;
    
    &--color {
      color: $darkBlue-900;
    }
  }

  &__text p {
    margin-bottom: 20px;
  }

  &__btn {
    display: inline-block;
    padding: 12px 32px;
    margin-right: 34px;
  }

  &__link-info {
    text-decoration: underline;
    color: $darkBlue-900;
  }

  &__img {
    max-width: 560px;
    width: 100%;
    height: 660px;
    @extend %img-position;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    margin-right: 52px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    &--active {
      color: $orange-900;
    }
  }
}

.burger {
  display: none;
  position: relative;
  width: 30px;
  height: 20px;
  padding: 22px 22px 22px 22px;

  &__line {
    position: absolute;
    top: 50%;            
    margin-top: -1px;
    left: 50%; 
    margin-left: -15px;
    width: 30px;
    height: 2px;
    background-color: $dark;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: '';
      top: 50%; 
      left: 50%; 
      width: 30px;
      height: 2px;
      transition: transform 0.3s, width 0.3s, height 0.3s;
      background-color: $dark;
    }
    

    &::before {    
      margin-top: -3px;
      margin-left: -15px;
      transform: translateY(-7px);
    }

    &::after {       
      margin-top: 2px;
      margin-left: -15px;
      transform: translateY(7px);
    }

    &--active { 
      height: 0;

      &::before {
        transform: rotateZ(-45deg);
        margin-top: -1px;
      }

      &::after {
        transform: rotateZ(45deg);
        margin-top: -1px;
      }
    }
  }
}

.basket {
  display: flex;
  align-items: center;
  
  &__icon {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 44px;
    height: 44px;
    background-color: $silver-100;

    &:focus {

      .icons-sprite {
        fill: none;
      }
    }

    &:hover {
      background-color: #FF7A50;
       box-shadow: none;
      .icons-sprite {
        fill: none;
        stroke: #fff;
      }

      .basket__num {
        background-color: #fff;
        color: $orange-900;
        box-shadow: 0 0 0 1px $orange-900 ;
      }
    }

    &:active {
      background-color: #FFF2ED;

      .icons-sprite {
        fill: none;
        stroke: #000;
      }

      .basket__num {
        background-color: #fff;
        color: $orange-900;
        box-shadow: 0 0 0 1px $orange-900 ;
      }
    }
  }

  &__num {
    position: absolute;
    padding: 3px 7px;
    top: 2px;
    left: 22px;
    background-color: $orange-900;
    border-radius: 10px;
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 1;
    transition: background 0.2s, color 0.2s;
  }
}

.choice {
  padding: 60px 0;
  text-align: center;

  &__title {
    margin-bottom: 50px;
  }

  &__foods { 
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    margin-bottom: 41px;
  }

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    padding: 13px 32px ;
    background-color: #fff;
    color: $darkBlue-900;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 0 0 1px #ececec;
    transition: box-shadow 0.2s, background 0.2s, color 0.2s;
    line-height: 1.3;

     .icons-sprite {
        width: 44px;
        height: 44px;
        fill: $dark;
        stroke: none;
      }

    &:focus {
      background-color: #fff;
      color: $darkBlue-900;

      .icons-sprite {
        fill: #000;
      }
    }

    &:hover {
      background-color: rgba(255, 122, 80, 0.1);

      .icons-sprite {
        fill: $orange-900;
        stroke: none;
      }
    }

    &:active {
      background: #fff;
      box-shadow: inset 0 -5px 12px rgba(255, 104, 56, 0.2);
      color: $orange-900;

      .icons-sprite {
        fill: $orange-900;
        stroke: none;
      }
    }

    & svg {
      margin-right: 10px;
    }
  }

  .mixitup-control-active {
      background-color: $orange-900;
      color: #fff;

      .icons-sprite {
        fill: #fff;
      }
    }

  &__option {
    max-width: 210px;
    width: 100%;
    min-height: 259px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  &__more {
    text-decoration-line: underline;
    color: $darkBlue-900;
    line-height: 1.5;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 210px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #ECECEC;
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 0 0 1px #FF6838;
  }

  &__img {
    max-width: 140px;
    max-height: 140px;
    margin-bottom: 10px;
    object-fit: cover;
  }

  &__text { 
    flex-grow: 1;
    max-width: 180px;
    margin-bottom: 7px;
    font-size: 15px;
    line-height: 1.3;
    @extend %rubik-400;
  }

  &__num {
    margin-bottom: 10px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 1.4;
  }

  &__btn {
    padding: 7px 16px;
    font-size: 14px;
  }
}

.about {
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
  }

  &__bg {
    max-width: 440px;
    width: 100%;
    height: 585px;
    @extend %img-position;
    margin-right: 20px;
  }

  &__info {
    max-width: 470px;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {

    position: relative;
    display: block;
    padding-left: 65px;
    font-size: 24px;

     &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 34px;
      height: 34px;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .about__item--delivery::before {
    background-image: url('../images/icons/about__time-icon.svg');
  }

  .about__item--courier::before {
    background-image: url('../images/icons/about__courier-icon.svg');
  }

  .about__item--place::before {
    background-image: url('../images/icons/about__resturent -icon.svg');
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text p{
    margin-bottom: 30px;
  }

  &__link {
    display: inline-block;
    padding: 12px 32px;
  }
}

.restorans {
  padding: 60px 0;
  .title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.card-rest {
  max-width: 370px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &:hover {
    box-shadow: 0 3px 15px rgba(255, 104, 56, 0.5);
  }
  
  span {
    display: inline-block;
  }

  &__img-link {
    display: block;
    max-width: 370px;
    height: 300px;
  }

  &__img {
    object-fit: cover;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }

  &__info {
    padding: 15px 20px 20px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  &__time,
  &__time-second {
    @extend %rubik-light;
    font-size: 18px;
    line-height: 1.6;
  }

  &__time {
    position: relative;
    padding-left: 32px;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 22px;
      height:22px;
      background-image: url('../images/icons/restorans-time.svg');
      @extend %img-position;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 7px;
    max-width: 79px;
    width: 100%;
    border-radius: 16px;
    height: 33px;

    .icons-sprite {
      fill: #fff;
      stroke: none;
      transition: transform 0.5s;
    }

    &:hover {
      .icons-sprite {
        transform: translateX(100%);
      }
    }

    &:active {
      .icons-sprite {
        transform: translateX(0);
      }
    }
  }
}

.comments {
  padding: 60px 0 63px;

  .title {
    text-align: center;
    margin-bottom: 45px;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    margin-bottom: 45px;
  }

   &__img {
    max-width: 300px;
    width: 100%;
    height: 300px;
    border-radius: 50%;
    @extend %img-position;
  }

  &__quote {
    max-width: 630px;
    padding: 0 30px;
  }

  &__text {
    margin-bottom: 30px;

    p {
      position: relative;
      @extend %rubik-italic; 

      &::before,
      &::after {
        position: absolute;
        content: '';
        width: 24px;
        height:20px;
      }

      &::before {
        top: 1px;
        left: -50px;
        background-image: url('../images/icons/icon-quotes.svg');
      }

      &::after {
        bottom: -2px;
        right: -30px;
        background-image: url('../images/icons/icon-quotes.svg');
        transform: rotateY(180deg);
      }
    }
  }

  &__author {
    display: inline-block;
    margin-bottom: 15px;
  }

  &__name {
    @extend %rubik-500;
    font-style: normal;
    color: $orange-900;
  }
  
  &__author-status {
    font-size: 14px;
    line-height: 1.3;
  }

  &__arrow {
    position: absolute;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center center;
    bottom: -10px;
    font-size: 0;
    border-radius: 50%;
    border: 3px solid $gray;
    transition: background-color 0.2s, box-shadow 0.2s, color 0.2s,border-color 0.2s, background-color 0.2s,;

    .icons-sprite {
      position: absolute;
      content: '';
      top: 50%;
      
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      @extend %img-position;
      stroke: none;
      fill: $gray;
      transition: fill 0.2ms;
     }

    &:focus {
      box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
      background-color: #fff;
      color: $orange-900;
    }

    &:hover {
      background-color: $btn-bg-opacity;
      color: $orange-900;
      border-color: $orange-500;

        .icons-sprite {
          fill: $orange-900;
        }
      }

    &:active {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: none;
      border-color: transparent;

      .icons-sprite {
        fill: $orange-900;
      }
    }
    
    &--prev {
      left: calc(50% - 110px);
    }
  
    &--next {
      right: calc(50% - 110px);
      transform: rotateY(180deg);
    }
  }
}

.slick-disabled {
  border-color: $orange-800;

  .icons-sprite {
    fill: $orange-800;
  }
}

.slick-dots {
    display: flex;
    justify-content: center;
  
    li {
      &:not(:last-child) {
        margin-right: 15px;
  
      }
  
      button {
        position: relative;
        border-radius: 50%;
        font-size: 0;
        background-color: $gray;
        width: 15px;
        height: 15px;
        border: 1px solid transparent;
  
        &:focus {
          box-shadow: 0 0 0 2px $orange-900;
        }
  
        &:hover {
          box-shadow: 0 0 0 2px rgba($orange-900, 0.7);
        }
  
        &:active {
          background-color: $orange-500;
          box-shadow: none;
        }
      }
  
      &.slick-active {
        button {
          background-color: $orange-900;
        }
      }
    }
}

.application {
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 540px;
  }

  .title {
    margin-bottom: 45px;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__box {
    max-width: 285px;
    display: flex;
    justify-content: space-between;
  }

  &__link {
    height: 40px;
    @extend %img-position;
    border: 1px solid $gray;
    border-radius: 5px;

    &:hover {
      border-color: $orange-900;
    }

    &:focus {
      border-color: $orange-900;
    }

    &:active {
      opacity: 0.8;
    }

    &--apps {
    width: 120px;
    }

    &--ggplay {
      width: 135px;
    }
  }

  &__img {
    max-width: 570px;
    width: 100%;
    height: 380px;
    @extend %img-position;
  }

}

.footer {
  padding-top: 60px; 

  &__top {
    display: flex;
    padding-bottom: 60px;
  }

  &__form-inner {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
  }

  .logo {
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-right: 70px;
    }
  }
  
  &__item {
    letter-spacing: 0.01em;
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  &__link {
    line-height: 1.3;
  }

  &__bottom {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    border-top: 1px solid rgb(194, 194, 194, 0.2);
  }

  &__copyright {
    font-size: 14px;
  }
}

.subscribe {
  max-width: 200px;

  &__input {
    padding: 13px 15px;
    width: 100%;
    margin-bottom: 12px;
    background-color: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 5px;
    font-size: 14px;

    &::placeholder {
      color: $gray;
      font-size: 14px;
      transition: border 0.2s, color 0.2s;
    }

    &:focus {
      border: 1px solid rgba(255, 104, 56, 0.7);
    }

    &:hover {
      &::placeholder {
        color: $darkBlue-900;
      }
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 13px 39px;
    font-size: 14px;

    &:focus {

      & path,
      ellipse {
        fill: $orange-900;
      }
    }

    &:hover {
      box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);
      background-color: #fff;
      color: $orange-900;

      & path,
      ellipse {
        fill: $orange-900;
      }
    }

    &:active {
      background-color: rgba(255, 122, 80, 0.1);
      box-shadow: none;

      & path,
      ellipse {
        fill: $orange-900;
      }
    }
  }

  svg {
    margin-right: 15px;
  }
}

.address {
  font-size: 16px;

  &__list {
    margin-bottom: 15px;
  }

  &__item {
    position: relative;
    font-style: normal;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--geo {
      &::before {
        width: 15px;
        height: 18px;
        background-image: url('../images/icons/icon-geo.svg');
      }
    }

    &--phone {
      &::before {
        width: 19px;
        height: 19px;
        background-image: url('../images/icons/icon-phone.svg');
      }
    }

    &--email {
      &::before {
        width: 20px;
        height: 18px;
        background-image: url('../images/icons/icon-message.svg');
      }
    }
  }

  &__link {
    padding-left: 30px;
    font-size: 16px;
    line-height: 2;
  }
}

.social-contact {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 13px
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $silver-200;
    width: 39px;
    height: 39px;
    border-radius: 50%;

    .icons-sprite {
        fill: #000;
        stroke: none;
      }

    &:focus {

      .icons-sprite {
        fill: #000;
        stroke: none;
      }
    }

    &:hover {
      background-color: #FF7A50;

      .icons-sprite {
        fill: #fff;
        stroke: none;
      }
    }

    &:active {
      background-color: #FFF2ED;

      .icons-sprite {
        fill: $orange-900;
        stroke: none;
      }
    }
  }
}

@media (max-width: 1220px) {

  .hero {

    &__img {
      width: 500px; 
      height: 580px;
    }
  }

  .choice {

    &__foods {
      justify-content: center;
    }
  }

  .comments {
    &__quote {
      max-width: 500px;
    }
  }
}

@media (max-width: 992px) {

  body {
    font-size: 18px;
  }

  .title {
    font-size: 30px;
  }

  .nav {
    &__list {
     margin-right: 40px;
    }
  }

  .hero {

    &__left {
       max-width: 400px;
    }

    &__title {
      max-width: 350px;
      font-size: 50px;
    }

    &__img {
      width: 350px; 
      height: 400px;
    }
  }

  .choice {

    &__foods {
      justify-content: center;
    }
  
    &__option {
      margin-right: 5px;
      margin-bottom: 10px;
      max-width: 40%;
    }
  }

  .about {

    &__inner {
      padding: 25px 0;
      position: relative;
    }

    &__item {
      height: 34px;
    }

    &__bg {
      position: absolute;
      display: block;
      content: "";
      background-size: contain;
      top: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.6;
    }
  }

  .product-card {
    max-width: 100%;
  }

  .restorans {
    padding: 15px 0 20px;

    .title {
      margin-bottom: 30px;
    }

    .text {
      display: flex;
      justify-content: center;
    }

    &__list {
     grid-template-columns: repeat(2, 1fr);
     grid-gap: 5px;
    }
  }

  .card-rest {
    margin: 0 auto;
  }

  .comments {

    &__box {
      padding: 0 6px;
      flex-direction: column;
      margin-bottom: 0;
    }

    &__img {
      width: 200px;
      height: 200px;
      margin-bottom: 40px;
    }

    &__text {
      max-width: 630px;
      margin-bottom: 30px;
    }

    &__quote {
      max-width: 100%;
    }

    &__author {
      margin-bottom: 10px;
    }
  }

  .application {
    
    &__inner {
      position: relative;
      height: 380px;
      align-items: center;
    }

    &__img {
      position: absolute;
      display: block;
      content: "";
      background-size: contain;
      bottom: 0;
      right: 0;
      z-index: -1;
      width: 100%;
      height: 80%;
      opacity: .3;
    }
  }

  .footer {
    padding-bottom: 0;
    
    &__top {
      flex-wrap: wrap;
      padding: 0;
    }
    .logo {
      max-width: 200px;
    }

    &__form-inner {
      margin-bottom: 30px;
      order: 1;
    }

    &__list {
      order: 3;
        margin-bottom: 20px;
    }

    &__item {
      line-height: 1.3;
      &:not(:last-child) {
        margin-bottom: 20px
      }
    }

    &__link {
      font-size: 18px;
    }
  }

  .address {
    order: 2;
    margin-bottom: 30px;
    margin-right: 70px;
  }
}

@media (max-width: 768px) {
  
  .comments,
  .about,
  .hero,
  .application,
  .choice,
  .footer {
    padding: 20px 0;
  }

  .hero {
    position: relative;

    &__left {
       max-width: 550px;
    }

    &__title {
      max-width: 350px;
      font-size: 50px;
    }

    &__img {
      position: absolute;
      display: block;
      content: '';
      bottom: 0;
      right: 0;
      background-position: top center;
      background-size: 250px;
      z-index: -1;
      width: 254px; 
      height: 300px;
      opacity: 0.3;
    }
  }

  .nav {
    padding: 20px 0;
    position: relative;
    &__list {
      display: none;
    }

    
  }

  .burger-nav {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateX(-300%);
    transition: transform 0.5s;

    &__inner {
      width: 86%;
      background-color: #fff;
      height: 100vh;   
    }
    
    &__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 25px 26px 25px 0;
    }

    .burger-list {
      display: block;
      padding: 25px 0 25px;
      .nav__item {
        font-size: 18px;
        line-height: 120%;

          &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }

    .address {
      padding: 15px 0;

      a {
        font-size: 16px;
      }
    }

    .burger__logo {
      display: block;
      max-width: 259px;
    }
  }

  .burger-nav--active {
      transform: translateX(0);
    }

  .burger {
    display: block;
  }

  .basket {
    margin-right: 20px;
  }

  .choice {

     &__btn {
      padding: 15px 20px;
      font-size: 16px;

      .icons-sprite {
        width: 24px;
        height: 24px;
        margin-right: 5px;
      }
    }
    
    &__list {
      overflow-x: auto;
      scroll-snap-type: x;
    }

    &__option {
      margin-right: 5px;
      margin-bottom: 10px;
      max-width: 40%;
    }
  }

  .product-card {
    max-width: 100%;
  }

  .comments {

    &__box {
      padding: 0 6px;
      flex-direction: column;
      margin-bottom: 0;
    }

    &__img {
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
    }

    &__text {
      max-width: 265px;
      margin-bottom: 20px;
      font-size: 14px;

      p {
        &::before {
          top: -5px;
          left: -35px;
        }

        &::after {
          bottom: 7px;
          right: -35px;
          background-image: url('../images/icons/icon-quotes.svg');
          transform: rotateY(180deg);
        }
      }
    }

    &__author {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 576px) {

  a {
    font-size: 14px;
  }

  .nav {
    padding: 14px 0;
  }

  .hero {
    padding: 25px 0 40px;

    &__left {
      max-width: 550px;
    }

    &__title {
      max-width: 257px;
      font-size: 40px;
    }

    &__text {
      font-size: 16px;
    }

    &__btn {
      padding: 8px 24px;
      font-size: 14px;
      letter-spacing: 0.03em;
      display: inline-block;
      margin-right: 25px;
      letter-spacing: 0.03em;
    }

    &__link-info {
      font-size: 16px;
    }
  }

  .basket {
    margin-right: 10px;

    &__icon:not(:last-child) {
      margin-right: 10px;
    } 

    &__btn {
      height: 35px;
    }

    &__num {
      padding: 3px 4px;
      width: 14px;
      height: 14px;
      top: 3px;
      left: 27px;
    }
  }

  .logo {
    max-width: 115px;
  }

  .about,
  .choice,
  .comments,
  .restorans,
  .application {
    .title {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
  

  .choice {

    &__list {
      margin-bottom: 32px;
    }

    &__item:not(:last-child) {
      margin-right: 10px;
    }

    &__btn {
      padding: 11px 16px;
      font-size: 14px;

      .icons-sprite {
        width: 20px;
        height: 20px;
        margin-right: 5px;
      }
    }

    &__foods {
      margin-right: -5px;
      margin-bottom: 20px;
    }

    &__option {
      margin-right: 5px;
      margin-bottom: 10px;
      max-width: 170px;
    }

    &__more {
      font-size: 20px;
    }
  }

  .product-card {
    max-width: 300px;

    &__text {
      max-width: 150px;
    }

    &__btn {
      line-height: 1.3;
    }
  }

  .about {

    &__text {
      font-size: 16px;
    }

    &__bg {
      opacity: 0.3;
    }

    &__list {
      margin-bottom: 20px;
    }

    &__item:not(:last-child) {
      margin-bottom: 15px;
    }

    &__point {
      padding-left: 45px;
      font-size: 18px;
    }

    &__link {
      line-height: 1.3;
    }
  }

  .restorans {
    padding: 20px 0;

    .title {
      margin-bottom: 30px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      grid-gap: 0;
    }
  }

  .card-rest {
    margin: 0 auto 15px;
  }

  .comments {

    &__box {
      padding: 0 6px;
      flex-direction: column;
      margin-bottom: 0;
    }

    &__img {
      width: 100px;
      height: 100px;
      margin-bottom: 30px;
    }

    &__text {
      max-width: 265px;
      margin-bottom: 15px;
      font-size: 14px;

      p {
        &::before {
          top: -5px;
          left: -35px;
        }

        &::after {
          bottom: 7px;
          right: -35px;
          background-image: url('../images/icons/icon-quotes.svg');
          transform: rotateY(180deg);
        }
      }
    }

    &__author {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1.3;
    }

    &__arrow {
      z-index: 1;
      top: 37px;

      &--next {
        right: calc(50% - 135px);
      }

      &--prev {
        left: calc(50% - 135px);
      }
    }
  }

  .application {

    &__inner {
      position: relative;
      height: auto;
      align-items: center;
    }

    .title {
      margin-bottom: 15px;
    }

    &__img {
      display: none;
    }

    &__text {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  .footer {
    padding-bottom: 0;
    
    &__top {
      flex-direction: column;
      padding: 0;
      margin-bottom: 22px;
    }
    .logo {
      max-width: 200px;
    }

    &__form-inner {
      margin-bottom: 25px;
      order: 1;
    }

    &__list {
      order: 3;
        margin-bottom: 20px;
    }

    &__item {
      line-height: 1.3;
      &:not(:last-child) {
        margin-bottom: 20px
      }
    }

    &__link {
      font-size: 18px;
    }
  }

  .subscribe {
    &__input {
      line-height: 1.3;
    }
  }

  .address {
    order: 2;
    margin-right: 0;
    margin-bottom: 30px;

    &__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
}
