<section class="restorans">
      <div class="container">
        <h2 class="title">
          Лучшие рестораны
        </h2>
        <ul class="restorans__list">
          <li class="restorans__item">
            <article class="card-rest">
              <h3 class="sr-only">Ресторан Star Burgers</h3>
              <a class="card-rest__img-link" href="#">
                <img class="card-rest__img" src="images/restorans/blaze-pizza.png" alt="ресторан">
              </a>
              <div class="card-rest__info">
                <a class="card-rest__name-link" href="#">
                  <span class="card-rest__name">Blaze Pizza</span>
                </a>
                <div class="card-rest__box">
                  <div class="card-rest__time-inner">
                    <time class="card-rest__time">11:00</time>
                    <span class="card-rest__symbol">-</span>
                    <time class="card-rest__time-second">22:00</time>
                  </div>
                  <a class="card-rest__link animation-btn" href="#">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                    </svg>
                    <span class="sr-only">сылка на Pizza Runcho</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="restorans__item">
            <article class="card-rest">
              <h3 class="sr-only">Ресторан Star Burgers</h3>
              <a class="card-rest__img-link" href="#">
                <img class="card-rest__img" src="images/restorans/pizza-rancho.png" alt="ресторан">
              </a>
              <div class="card-rest__info">
                <a class="card-rest__name-link" href="#">
                  <span class="card-rest__name">Star Burgers</span>
                </a>
                <div class="card-rest__box">
                  <div class="card-rest__time-inner">
                    <time class="card-rest__time">11:00</time>
                    <span class="card-rest__symbol">-</span>
                    <time class="card-rest__time-second">22:00</time>
                  </div>
                  <a class="card-rest__link animation-btn" href="#">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                    </svg>
                    <span class="sr-only">сылка на Pizza Runcho</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="restorans__item">
            <article class="card-rest">
              <h3 class="sr-only">Ресторан Star Burgers</h3>
              <a class="card-rest__img-link" href="#">
                <img class="card-rest__img" src="images/restorans/pizza-hut.png" alt="ресторан">
              </a>
              <div class="card-rest__info">
                <a class="card-rest__name-link" href="#">
                  <span class="card-rest__name">Pizza Runcho</span>
                </a>
                <div class="card-rest__box">
                   <div class="card-rest__time-inner">
                    <time class="card-rest__time">11:00</time>
                    <span class="card-rest__symbol">-</span>
                    <time class="card-rest__time-second">22:00</time>
                  </div>
                  <a class="card-rest__link animation-btn" href="#">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                    </svg>
                    <span class="sr-only">сылка на Pizza Runcho</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="restorans__item">
            <article class="card-rest">
              <h3 class="sr-only">Ресторан Star Burgers</h3>
              <a class="card-rest__img-link" href="#">
                <img class="card-rest__img" src="images/restorans/McD.png" alt="ресторан">
              </a>
              <div class="card-rest__info">
                <a class="card-rest__name-link" href="#">
                  <span class="card-rest__name">Pizza Hut</span>
                </a>
                <div class="card-rest__box">
                  <div class="card-rest__time-inner">
                    <time class="card-rest__time">11:00</time>
                    <span class="card-rest__symbol">-</span>
                    <time class="card-rest__time-second">22:00</time>
                  </div>
                  <a class="card-rest__link animation-btn" href="#">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                    </svg>
                    <span class="sr-only">сылка на Pizza Runcho</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="restorans__item">
            <article class="card-rest">
              <h3 class="sr-only">Ресторан Star Burgers</h3>
              <a class="card-rest__img-link" href="#">
                <img class="card-rest__img" src="images/restorans/KFC.png" alt="ресторан">
              </a>
              <div class="card-rest__info">
                <a class="card-rest__name-link" href="#">
                  <span class="card-rest__name">McDonald`s</span>
                </a>
                <div class="card-rest__box">
                   <div class="card-rest__time-inner">
                    <time class="card-rest__time">11:00</time>
                    <span class="card-rest__symbol">-</span>
                    <time class="card-rest__time-second">22:00</time>
                  </div>
                  <a class="card-rest__link animation-btn" href="#">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                    </svg>
                    <span class="sr-only">сылка на Pizza Runcho</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
          <li class="restorans__item">
            <article class="card-rest">
              <h3 class="sr-only">Ресторан Star Burgers</h3>
              <a class="card-rest__img-link" href="#">
                <img class="card-rest__img" src="images/restorans/star-burgers.png" alt="ресторан">
              </a>
              <div class="card-rest__info">
                <a class="card-rest__name-link" href="#">
                  <span class="card-rest__name">KFC</span>
                </a>
                <div class="card-rest__box">
                  <div class="card-rest__time-inner">
                    <time class="card-rest__time">11:00</time>
                    <span class="card-rest__symbol">-</span>
                    <time class="card-rest__time-second">22:00</time>
                  </div>
                  <a class="card-rest__link animation-btn" href="#">
                    <svg class="icons-sprite">
                      <use xlink:href="images/sprite.svg#arrow-small-right"></use>
                    </svg>
                    <span class="sr-only">сылка на Pizza Runcho</span>
                  </a>
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </section>